/* desbest edit */

#writtensidebar h1 /*#secondary .widget h1.widget-title*/ {
	padding: 10px;
	margin-top: 25px;
	font-size: 22px;
	color: #000;
	font-weight: 400;
	font-variant: small-caps;
	margin-bottom: 0;
}

#writtensidebar a { padding: 0px; background-image: none; }
#writtensidebar a:link, #writtensidebar a:visited {
	color: #666;
	text-decoration: none;
	-webkit-transition: ease all .1s;
	-o-transition: ease all .1s;
	transition: ease all .1s;
}

.page img { margin: 3px !important; }
#container { width: __site_width__; margin: 0px auto; }
.media, .media-body { overflow: unset !important; }
/*.page #page, .single #page { width: unset !important; }*/
h1.site-title { font-size: 36px; }
.page li { display: block; }
.breadcrumbs { margin: 1em 0px; }
.entry-meta { float: right; }
.entry-title { clear: none; display: inline; }
#secondary .widget li, .slicknav_menu li, .slicknav_menu dd { display: block; }
#secondary { background: none !important; }
button { margin: 3px 8px; }
.mobile { display: none; }
.toolbutton img { max-width: 100% !important; }
.toolbutton, button, .dokuwiki button { margin-right: 0.35em; margin-bottom: 0.35em; }
.site-description { font-weight: normal; }
body:not(.blog) .site-branding { position: absolute !important; margin-top: 10%; top: 0px !important; }
header#masthead { position: unset; }

.page #page .entry-content img, .single #page .entry-content img {
	 display: unset !important; 
}

.page #page .entry-header h1.entry-title,.single #page .entry-header h1.entry-title {
	font-weight: normal;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

