/* desbest edit */


@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  li, dd { margin: 1.15em 0px !important; }
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 100%;  }

  #config__manager fieldset { width: 100%; box-sizing: border-box; }

	/* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  fieldset { width: unset; }
  #config__manager fieldset {  margin: 1em 0px;  }
  #config__manager fieldset td.value { width: unset; }
  td.label { word-wrap: anywhere; }

 #config__manager input[type="text"], #config__manager select { width: 100% !important; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }

  /* klean specific */
  #main { margin-right: 0px; }
  /* */
  
}

@media screen and (max-width: 768px) {
	.page #page, .single #page{
		float: none;
		width: 95%;
	}
	.desktop { display: none; }
	.mobile { display: block; }
	.page #page, .single #page { margin-top: 1.35em; }
}

/* ------ end desbest edit ------ */

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}


@media screen and (max-width:768px) {
	body:not(.blog) .site-header {
		position: relative!important;
		overflow: visible
	}

	body:not(.blog) .site-header .site-branding {
		margin-top: 40px;
		position: relative!important;
		width: 70%
	}

	body:not(.blog) .site-header .site-branding h2.site-description {
		margin: 0px
	}
}




@media screen and (max-width:768px) {
	#site-navigation {
		display: none
	}

	.slicknav-menu {
		display: block
	}
}

@media screen and (min-width:768px) {
	#site-navigation {
		display: block
	}

	.slicknav_menu {
		display: none
	}
}



@media screen and (max-width:768px) {
	#social-icons {
		position: relative;
		width: 100%;
		margin: 30px auto
	}

	#page {
		width: 100%
	}
}


@media screen and (max-width:992px) {
	.left-sidebar {
		right: 0%!important
	}

	#primary-home {
		left: 0%!important
	}
}


@media screen and (max-width:768px) {
	.klean .featured-wrapper {
		margin-bottom: 30px
	}

	.klean .featured-wrapper .entry-header {
		position: relative!important;
		width: auto!important;
		top: 0%!important;
		opacity: 1!important;
		margin: 10px auto
	}

	.klean .featured-wrapper .entry-header h1.entry-title {
		text-align: center!important
	}

	.klean .featured-wrapper .entry-header h1.entry-title a {
		color: black!important;
		opacity: 1;
		-webkit-transition: none;
		-o-transition: none;
		transition: none
	}

	.klean .featured-wrapper .featured-image {
		width: 80%
	}

	.klean .featured-wrapper .featured-bar {
		display: none
	}
}


@media screen and (max-width:768px) {
	.grid {
		border-bottom: none
	}
}


@media screen and (max-width:768px) {
	.grid .featured-thumb img {
		width: 100%
	}
}


@media screen and (max-width:768px) {
	.grid .out-thumb {
		padding: 10px 3px
	}
}


@media screen and (max-width:768px) {
	.grid_2_column {
		padding-right: 0px
	}
}

@media screen and (min-width:768px) {
	.grid_2_column:nth-of-type(2n) {
		padding-left: 10px
	}

	.grid_2_column:nth-of-type(odd) {
		padding-right: 10px;
		clear: left
	}
}